<%- include("header") -%>
<body>
    <div class="title">
        <img class="logo" src="logo/logo.png">
        <h1>ToDoList by Syed Ausaf Hasib</h1>
    </div>
    <div class="box" id="heading">
        <h1><%= kindOfDay %></h1>
    </div>
    <div class="box">
        <!-- <% for(var i=0; i<newListItems.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%=newListItems[i].name%></p>
            </div>
        <% } %> -->
        <% newListItems.forEach(function(item){ %>
            <form action="/check" method="post">
                <div class="item scroll">
                    <input type="hidden" name="checkbox" value="<%=item._id%>">
                    <input type="checkbox" name="checkbox" value="<%=item._id%>" onclick="this.form.submit()">
                    <p><%=item.name%></p>
                </div>
            </form>
        <% }) %>

        <form class="item" id="itemForm" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autofocus autocomplete="off">
            <button type="submit" class="add" name="button">+</button>
        </form>

        <form class="delete" action="/delete" method="post">
            <button type="submit" class="delete" name="delete">Delete Checked</button>
        </form>
    </div>
</body>
<!-- <%- include("footer") -%> -->