<%- include("header") -%>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="tech">
            <p>Tech Used:</p>
            <ul>
                <li>EJS</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>NodeJS</li>
                <li>ExpressJS</li>
                <li>MongoDB</li>
            </ul>
        </div>
        <div class="tools">
            <p>Tools Used:</p>
            <ul>
                <li>Git</li>
                <li>GitHub</li>
                <li>Render</li>
                <li>MongoAtlas</li>
            </ul>
        </div>
    </div>
    <span class="openbtn" onclick="openNav()">&#9776;</span>
    <div class="box" id="heading">
        <h1><%= kindOfDay %></h1>
    </div>
    <div class="box">
        <!-- <% for(var i=0; i<newListItems.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%=newListItems[i].name%></p>
            </div>
        <% } %> -->
        <% newListItems.forEach(function(item){ %>
            <form action="/check" method="post">
                <div class="item scroll">
                    <% if(item.check=="on"){ %>
                        <input type="hidden" name="checkbox" value="<%=item._id%>">
                        <input type="checkbox" name="checkbox" value="<%=item._id%>" checked onclick="this.form.submit()">
                    <% } else{ %>
                        <input type="hidden" name="checkbox" value="<%=item._id%>">
                        <input type="checkbox" name="checkbox" value="<%=item._id%>" onclick="this.form.submit()">
                    <% } %>
                    <p><%=item.name%></p>
                </div>
            </form>
        <% }) %>

        <form class="item" id="itemForm" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autofocus autocomplete="off">
            <button type="submit" class="add" name="button">+</button>
        </form>

        <form class="delete" action="/delete" method="post">
            <button type="submit" class="delete" name="delete">Delete Checked</button>
        </form>
    </div>
</body>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
<%- include("footer") -%>